[data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
    background-color: white;
}

[data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
    background-color: white;
}

div[data-testid="stMarkdownContainer"] > p > a {
    text-decoration: none;
}

div[data-testid="stMarkdownContainer"] > p > a:hover {
    color: green;
}

a[href^="#"] + span {
    content: '';
    display: 'block';
    margin-top: 35px;
}
